.filter-buttons {
  text-align: center;
  background: $mediumGreen;
  padding: $m-size;
  box-sizing: border-box;

  a {
    margin: 0 $m-size;
    color: $lightGreen;
    transition: all .3s;
  }
  a:hover {
    cursor: pointer;
  }
}
.active {
  color: $lightGray !important;
}
