html {
  font-size: 62.5%;
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: $m-size;
  font-weight: 300;
  background: $mainGreen;
  color: $lightGray;
  position: relative;
}
.container {
  max-width: 60rem;
  margin: 0 auto;
}
.wrapper {
  margin: $m-size;
}
